@page
@model PrivacyModel
@{
    ViewData["Title"] = "Personas";
}
<h2 class="text-center mb-3">Listado de Personas</h2>
<a class="btn btn-primary mb-3"href="/Home">Nueva Persona</a>
<table class="table">
    <thead>
        <tr>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Dirección</th>
            <th>Opciones</th> 
        </tr>
    </thead>
    <tbody>
        @foreach(var clientes in Model.ClienteList)
        {
            <tr>
                <td>@clientes.cedulaCliente</td>
                <td>@clientes.nombreCliente</td>
                <td>@clientes.apellidoCliente</td>
                <td>@clientes.correo</td>
                <td>@clientes.direccion</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="#">Editar</a>
                    <a class="btn btn-danger btn-sm" href="#">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
